<form action="/cart" method="post">
  <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
  <button class="btn" type="submit">add to cart</button>
  <!-- pass important information as part of post request -->
  <input type="hidden" name="productId" value="<%= product._id %>" />
</form>
